<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby Tracker</title>
</head>
<body>
    <h1>My Hobby Expenses</h1>

    <form action="/add" method="POST">
        <label>Item:</label>
        <input type="text" name="item" required>
        
        <label>Cost ($)</label>
        <input type="number" step="0.01" name="amount" required>

        <label>Category:</label>
        <select name="category" required>
            <option value="" disabled selected>Select a category</option>
            {% for category in categories %}
                <option value="{{ category[1] }}">
                    {{ category[1] }}
                </option>
            {% endfor %}
        </select>
        
        <label>Date:</label>
        <input type="date" name="date" required>


        <button type="submit">Add Expense</button>

    </form>
    <hr>
    
    <form action="/" method="GET" style="margin-bottom: 20px;">
        <label>Filter by:</label>
        <select name="category_filter" onchange="this.form.submit()">
            <option value="All">Show All</option>
            {% for category in categories %}
                <option value="{{ category[1] }}" {% if category[1] == selected_filter %}selected{% endif %}>
                    {{ category[1] }}
                </option>
            {% endfor %}
        </select>
    </form>

    <h3>Expense List</h3>
    <table border = "1">
        <tr>
            <th>Date</th><th>Item</th>
            <th>Amount ($)</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense[4] }}</td><td>{{ expense[1] }}</td>
            <td>{{ expense[2] }}</td>
            <td>{{ expense[3] }}</td>
            <td>
                <a href="/delete/{{ expense[0]}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <hr>
    <h3>Manage Categories</h3>

    <ul>
        {% for category in categories %}
        <li>
            {{ category[1] }}
            <a href="/delete_category/{{ category[0]}}" style="color:red; font-size: 0.8em;">[x]</a>

        </li>
        {% endfor %}
     </ul>

     <form action="/add_category" method="POST">
        <input type="text" name="category_name" placeholder="New Category" required>
        <button type="submit">Add Category</button>
     </form>

</body>
</html>