<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobby Tracker</title>
</head>
<body>
    <h1>My Hobby Expenses</h1>
    <form action="/add" method="POST">
        <label>Item:</label>
        <input type="text" name="item" required>
        
        <label>Cost ($)</label>
        <input type="number" step="0.01" name="amount" required>

        <label>Category:</label>
        <input type="text" name="category" required>

        <button type="submit">Add Expense</button>

    </form>
    
    <hr>
    <h3>Expense List</h3>
    <table border = "1">
        <tr>
            <th>Item</th>
            <th>Amount ($)</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense[1] }}</td>
            <td>{{ expense[2] }}</td>
            <td>{{ expense[3] }}</td>
            <td>
                <a href="/delete/{{ expense[0]}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>